@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
}

html body {
  height: 100%;
  font-family: 'Roboto', sans-serif;
  background-color: white;
}

/* Navbar */
nav{
  margin-bottom: 0.3cm;
  background-color: white;
}
  
.navbar-nav a{
  font-weight: bold;
  color: black;
  padding-left: 50px;
}
  
.navbar-nav a:hover{
  color: #0990A7;
}

.navbar-toggler {
  background-image: url(images/menu.png);
  background-size: 40px 40px;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  opacity: 0.8;
}

  
.collapse-text a{
      padding-right: 10px;
      text-align: right;
}

  /* Header */
  .header-section {
    height: 450px;
    width: 100%;
    background-image: linear-gradient(rgba(3, 64, 80, 0.7), rgba(3, 64, 80, 0.7)), url(images/partners.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
  }
  .title{
    width: 100%;
    position:absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .header-section h1 {
    font-size: 55px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
  .header-section hr {
      width: 40%;
      height: 5px;
      border: 0 none;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
      margin-bottom: 10px;
      background-color:white;
      color: white;
      opacity: 0.5 !important;
  }
  
  /* Coordinator section */
  .coordinators {
    margin-top: 100px;
    margin-bottom: 50px;
    justify-content: center;
  }
  
  .coordinators img {
    margin-bottom: 20px;
  }

  .sub-heading {
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: bold;
  }

  .coordinators h4 {
    font-size: 24px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .coordinators h6 {
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .coordinators p {
    font-size: 14px;
    line-height: 20px;
  }
  
.end {
    display: block;
    width: 90%;
    height: 2px;
    border: 0 none;
    margin: 15px auto;
    background-color: black;
    color: black;
    opacity: 0.75 !important;
  } 

  /* Partner section */
  .sub-heading-partner{
    font-weight: bold;
  }
  
  .partners {
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 20px;
    text-align: center;
  }

  .space{
    padding-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
  }

  .space2{
    padding-top: 70px;
    padding-left: 50px;
    padding-right: 50px;
  }
  
  .partners h4 {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px;
    margin-bottom: 10px;
  }
  
  .partners h6 {
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .partners p {
    font-size: 14px;
    line-height: 20px;
  }
  
  /* Footer */
  .footer {
    position: absolute;
    left: 0;
    bottom: -1;
    width: 100%;
    height: auto;
    background-color: #005f70;
    color: #fff;
  }
  
  .Links p a{
    text-decoration: none;
    color: white;
  }
  
  .Links p a:hover{
    color: #0990A7;
  }
  
  .Contact i{
    font-size: 18px;
  }
  
  .Contact a{
    text-decoration: underline;
    color: white;
    cursor: pointer;
  }
  
  .Social{
    text-align: center;
  }
  
  .Social i{
    font-size: 22px;
    text-decoration: none;
    color: #ffffff;
  }
  
  .Social i:hover{
    color: #0990A7;
  }

  @media (min-width: 768px) and (max-width: 1024px) { /* tablet devices */
    .header-section h1{
        font-size: 45px;
    }
    
  }
  @media (max-width: 767px) {
    .header-section h1{
        font-size: 30px;
    }
    .coordinators p {
      line-height: 20px;
    }
    .partners p {
      line-height: 20px;
    }
    .Social{
        text-align:left;
    }
    
  }